*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header img{
    margin: 20px;
    width: 300px;
}

h1, #filters{
    text-align: center;
}

#filters input, #filters #status-filter {
    padding: 8px 16px;
    margin: 10px;
    border: 0;
    font-size: 18px;
    border: 1px solid gainsboro;
    border-radius: 5px;
} 

.container{
    display: flex;
    width: 100%;
    gap: 25px;
    overflow: hidden;
    
     
}

#characters {
    display: flex;
    width: 100%;
    gap: 25px;
    overflow: hidden;
    
}

.character-card {
    width: 500px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    width: calc(100% / 3);
    cursor: pointer;
    background-color: #343f4f;
    color: aliceblue;
    
}

.character-card img{
    width: 350px;
}
.character-card:first-child{
    margin-left: 0px;
}

.container box-icon{
    width: 50px;
    
}